# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
build/
out/

# Local environment files
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json

.idea/
.DS_Store

# Visual Studio files
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm/

# Misc
*.pid
*.seed

# Mac system files
.DS_Store

# Yarn Integrity file
.yarn-integrity

# Parcel-bundler cache
.cache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
